<?xml version="1.0"?>
<launch>

    <node pkg="localization" type="localization_node" name="localization_node" output="screen">
        <rosparam command="delete" param="topic" />
        <rosparam file="$(find localization)/cfg/uwb_imu_lidar.yaml" command="load" />
        <param name="log/filename_prefix" value="$(find localization)/bag/real_time" />
    </node>

</launch>
